/* app css stylesheet */
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 999;
    width: 100%;
    background-color: white;
    opacity: 0.65;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin: 10px;
    padding: 0px 20px;
    text-align: center;
}

.nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0px 30px;
    justify-content: center;
}

.nav a {
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: black;
    text-decoration: none;
    /*color: white;*/
    padding-left: 10px;
    font-weight: 500;
}

a:hover {
    font-weight: 900;
}

a:active {
    color: teal;
}

ng-view {
    flex-grow: 1;
}

select, textarea {
  color: #52575c;
}

.container-inner-sara {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container-inner-sara a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#title {
    font-family: Helvetica;
    margin: 60px 80px 10px 80px;
    font-size: 3.5rem;
    line-height: 8.5rem;
}

#title h1 {
    margin: 0;
}

#sub-title {
    margin: 0 80px 30px 80px;
    font-size: 1.8rem;
}

hr {
    width: 90%;
    color: darkgray;
}

.content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h2 {
    font-family: 'Helvetica', bold;
}

.content a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.body-paragraph {
    max-width: 800px;
    font-size: 1rem;
    line-height: 2rem;
}

.projects {
    margin-top: 100px;
    max-width: 1100px;
    text-align: center;
}

.project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 20px;
    text-align: center;
}

.project-item p {
    line-height: 2rem;
}

.project-item div {
    height: 220px;
}

.project-item img {
    width: 400px;
    max-height: 300px;
}

button {
    margin-top: 0;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    color: white;
    background-color: rgb(69, 172, 229);
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    background-color: white;
    color: gray;
    cursor: default;
}

#resume {
    text-align: center;
    color: black;
    margin: 100px 40px 30px 40px;
}

#contact {
    margin: 100px 40px 50px 40px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.me {
    max-width: 50%;
}

.me img {
    max-height: 500px;
}

.form-wrapper {
    color: black;
    margin: 0px 50px;
    padding: 0px 25px;
    width: 500px;
}

.contact-form {
    padding: 0 20px;
    font-size: 1.2rem;
    line-height: 2.5rem;
    font-weight: 200;
}

.label-sara {
    color: black;
    text-shadow: none !important;
}

fieldset {
    border: none;
    padding: 0;
}

input {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    padding: 5px;
}

textarea {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    padding: 5px;
}

/* SubPage Styles */


.inner-page-header-wrapper {
    position: relative;
    max-height: 400px;
    overflow: hidden;
    margin: 0;
}

.inner-header {
    overflow: hidden;
}

.inner-header img {
    width: 100%;
    opacity: .3;
}

.inner-header-info {
    position: absolute;
    padding: 150px 0px;
    max-height: 400px;
    text-align: center;
    color: black;
    z-index: 100;
    top: 0;
    width: 100%;
}

.inner-title {
    font-weight: 100;
    font-size: 3.5rem;
    line-height: 6rem;
}

.body-wrapper {
    margin: 0;
    padding: 50px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.body-wrapper h2 {
    font-family: 'Helvetica', bold;
}

/*.body-wrapper p {*/
    /*text-align: center;*/
/*}*/

/*.inner-subheader {*/
    /*text-align: center;*/
    /*font-size: 1.2rem;*/
    /*line-height: 2.5rem;*/
    /*font-weight: 300;*/
    /*color: black;*/
    /*margin: 50px 70px;*/
/*}*/

/* Solano */

.solano-project-img {
    margin-bottom: 50px;
    max-width: 600px;
}

.project-section {
    width: 800px;
}

/*.project-sub {*/
    /*font-size: 1.5rem;*/
/*}*/

/*.project-sub-title {*/
    /*font-weight: bold;*/
/*}*/

/*.project-body {*/
    /*font-size: 1rem;*/
    /*line-height: 2rem;*/
    /*max-width: 800px;*/
/*}*/

/* Wise */

.feature {
    margin: 40px;
    width:85%;
    display: flex;
    justify-content: space-between;
}

.even {
    flex-direction: row-reverse;
}

.feature-name {
    text-align: left !important;
    margin-left: 20px;
    font-weight: bold;
    max-width: 100%;
}

.feature-description {
    text-align: left !important;
    max-width: 100%;
    margin: 0 20px;
    line-height: 2rem;
}

.feature-image {
    max-width: 50%;
    max-height: 300px;
}

.feature-image img {
    max-height: 300px;
    overflow: hidden;
}


/* Miller Center */
.thumbnails {
    width: 90%;
    margin: auto;
}

.adobe-thumbnail {
    margin: 0 30px;
}

.adobe-content {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 80px;
}

.adobe-content li {
    min-width: 300px;
    max-width: 400px;
    margin: 10px 10px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.adobe-content img {
    width: 340px;
}

.adobe-content li:hover {
    opacity: 0.3;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.adobe-label {
    color: black;
}

.tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px 0;
}

.tools img {
    max-width: 150px;
    max-height: 150px;
    margin: 0 20px;
}

.tools img:hover {
    opacity: .6;
}

.footer {/*good*/
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright p {/*good*/
    margin: 0;
    padding: 5px 20px;
}

.social-links {/*good*/
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.social-link {/*good*/
    margin: 0;
    padding: 0;
}

.social-link a {/*good*/
    width: 40px;
    margin: 0;
    padding: 0;
}

.social-link img {/*good*/
    width: 30px;
    margin: 5px 5px;
    padding: 0;
}
