<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <title>Sara Cassella</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body ng-cloak> <!--Hides this whole element until all of the angular has been parsed and processed OR if you keep your angular script tag in the head, angular will process sooner rather than later on page rendering lifecycle. -->
    <div class="container-sara">
        <div class="navbar-sara">
            <div class="logo">LOGO</div>
            <ul class="nav-sara">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/resume.html">Resume</a></li>
                <li><a href="/adobe.html">Adobe</a></li>
                <li><a href="/userExperience.html">UX</a></li>
                <li><a href="/webWork.html">Web</a></li>
                <li><a href="/film.html">Film</a></li>
                <li><a href="https://github.com/scassella" target="_blank">Git</a></li>
                <li><a href="/contactPage.html">Contact</a></li>
            </ul>
        </div>
        <div ng-controller="AboutController" class="container-inner-sara">
            <div class="inner-page-header-wrapper">
                <div class="inner-header">
                    <img ng-src="{{about.imageUrl}}" alt="About Page"/>
                </div>
                <div class="inner-header-info">
                    <h1 class="inner-title" ng-bind="about.title"></h1>
                </div>
            </div>

            <div class="body-wrapper-inner">
                <div class="inner-subheader">{{about.intro}}</div>
                <!--<div class="h2-sara">Upvote and downvote my favorite foods below!</div>-->
                <!--<h2>Favorite Foods:</h2>-->
                <!--Order By:-->
                <!--<select ng-model="sortorder" class="input-small">-->
                    <!--<option selected value="name">Name</option>-->
                    <!--<option value="-upVoteCount">Votes</option>-->
                <!--</select>-->
                <!--<ul class="thumbnails">-->
                    <!--<li ng-repeat="food in about.favoriteFoods | orderBy:sortorder">-->
                        <!--<div class="votingButton" ng-click="upVoteFood(food)">-->
                            <!--<i class="icon-chevron-up icon-white"></i>-->
                        <!--</div>-->
                        <!--<div class="badge badge-inverse">-->
                            <!--<div>{{food.upVoteCount}}</div>-->
                        <!--</div>-->
                        <!--<div class="votingButton" ng-click="downVoteFood(food)">-->
                            <!--<i class="icon-chevron-down icon-white"></i>-->
                        <!--</div>-->
                        <!--<span>{{food.name}}</span><br />-->
                        <!--<span>{{food.tastiness | tastiness}}</span>-->
                    <!--</li>-->
                <!--</ul>-->
            </div>
        </div><!--End ng-controller-->
    </div>
    <div ng-controller="FooterController">
        <div class="footer-sara about-footer">
            <div class="footer-overlay">
                <div class="copyright">
                    <p>Website built with Angular JS by Sara Cassella. 2018</p>
                </div>
                <ul class="social">
                    <li class="social-link" ng-repeat="link in footer.social">
                        <a href="{{link.url}}" target="_blank"><img ng-src="{{link.image}}"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-sanitize.js"></script><!--This lets us use ng-bind-html and ng-bind-html-unsafe-->
    <script src="/js/app.js"></script>
    <script src="/js/controllers/aboutController.js"></script>
    <script src="/js/controllers/footerController.js"></script>
    <script src="/js/filters/customFilter.js"></script>

</body>
</html>