<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <title>Sara Cassella</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body ng-cloak> <!--Hides this whole element until all of the angular has been parsed and processed OR if you keep your angular script tag in the head, angular will process sooner rather than later on page rendering lifecycle. -->
    <div class="container-sara">
        <div class="navbar-sara">
            <div class="logo">LOGO</div>
            <ul class="nav-sara">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/resume.html">Resume</a></li>
                <li><a href="/adobe.html">Adobe</a></li>
                <li><a href="/userExperience.html">UX</a></li>
                <li><a href="/webWork.html">Web</a></li>
                <li><a href="/film.html">Film</a></li>
                <li><a href="https://github.com/scassella" target="_blank">Git</a></li>
                <li><a href="/contactPage.html">Contact</a></li>
            </ul>
        </div>

        <div ng-controller="AdobeController" class="container-inner-sara">
            <div class="inner-page-header-wrapper">
                <div class="inner-header">
                    <img ng-src="{{adobe.imageUrl}}" alt="Film Page"/>
                </div>
                <div class="inner-header-info">
                    <h1 class="inner-title" ng-bind="adobe.title"></h1>
                </div>
            </div>

            <div class="body-wrapper-inner">
                <div class="inner-subheader">{{adobe.intro}}</div>
                <!--<div class="switch">-->
                    <!--<span ng-click="togglePhotoshop()">PHOTOSHOP</span>-->
                    <!--<span ng-click="toggleIndesign()">INDESIGN</span>-->
                    <!--<span ng-click="toggleIllustrator()">ILLUSTRATOR</span>-->
                <!--</div>-->
                <div class="thumbnails-sara">
                    <div class="photoshop adobe-thumbnail" ng-show="showPhotoshop">
                        <div class="h2-sara">Photoshop</div>
                        <div class="adobe-intro">{{adobe.photoshop.intro}}</div>
                        <ul class="photoshop-content">
                            <li  ng-repeat="photo in adobe.photoshop.photos">
                                <span class="adobe-label"><strong>{{photo.name}}:</strong> {{photo.description}}</span><br />
                                <img ng-src="{{photo.imageUrl}}" alt="Photoshop Image"/>
                            </li>
                        </ul>
                    </div>
                    <div class="inDesign adobe-thumbnail" ng-show="showIndesign">
                        <div class="h2-sara">InDesign</div>
                        <div class="adobe-intro">{{adobe.inDesign.intro}}</div>
                        <ul class="photoshop-content">
                            <li  ng-repeat="project in adobe.inDesign.projects">
                            <span class="adobe-label"><strong>{{project.name}}</strong><br />
                                {{project.description}}</span><br />
                            </li>
                        </ul>
                    </div>
                    <div class="illustrator adobe-thumbnail" ng-show="showIllustrator">
                        <div class="h2-sara">Illustrator</div>
                        <div class="adobe-intro">{{adobe.illustrator.intro}}</div>
                        <ul class="photoshop-content">
                            <li  ng-repeat="project in adobe.illustrator.projects">
                            <span class="adobe-label"><strong>{{project.name}}</strong><br />
                                {{project.description}}</span><br />
                                <!--<img ng-src="{{project.photos}}" alt="illustrator Image"/>-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--End ng-controller-->
        <div ng-controller="FooterController">
            <div class="footer-sara adobe-footer">
                <div class="footer-overlay">
                    <div class="copyright">
                        <p>Website built with Angular JS by Sara Cassella. 2018</p>
                    </div>
                    <ul class="social">
                        <li class="social-link" ng-repeat="link in footer.social">
                            <a href="{{link.url}}" target="_blank"><img ng-src="{{link.image}}"/></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-sanitize.js"></script><!--This lets us use ng-bind-html and ng-bind-html-unsafe-->
    <script src="/js/app.js"></script>
    <script src="/js/controllers/adobeController.js"></script>
    <script src="/js/controllers/footerController.js"></script>
    <script src="/js/filters/customFilter.js"></script>

</body>
</html>