<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <title>Contact Sara Cassella</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body ng-cloak> <!--Hides this whole element until all of the angular has been parsed and processed OR if you keep your angular script tag in the head, angular will process sooner rather than later on page rendering lifecycle. -->
    <div class="container-sara">
        <div class="navbar-sara">
            <div class="logo">LOGO</div>
            <ul class="nav-sara">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/about.html">Resume</a></li>
                <li><a href="/adobe.html">Adobe</a></li>
                <li><a href="/userExperience.html">UX</a></li>
                <li><a href="/webWork.html">Web</a></li>
                <li><a href="/film.html">Film</a></li>
                <li><a href="https://github.com/scassella" target="_blank">Git</a></li>
                <li><a href="/contactPage.html">Contact</a></li>
            </ul>
        </div>
        <style>input.ng-invalid.ng-dirty {background-color: pink}</style>
        <div ng-controller="ContactController" class="container-inner-sara">
            <div class="inner-page-header-wrapper">
                <div class="inner-header">
                    <img ng-src="{{contact.imageUrl}}" alt="Film Page"/>
                </div>
                <div class="inner-header-info">
                    <h1 class="inner-title" ng-bind="contact.title"></h1>
                </div>
            </div>

            <div class="body-wrapper-inner">
                <div class="inner-subheader" ng-style="subheaderStyle">{{contact.intro}}</div>
                <div class="contact-wrapper">
                    <div class="address-wrapper">
                        <span class="contact-header">Current Address:</span><br />
                        <div class="address">
                            {{contact.address.street}}<br />
                            {{contact.address.city}},<br />
                            {{contact.address.state}},
                            {{contact.address.zip}}
                        </div>
                    </div>
                    <div class="form-wrapper">
                        <span class="contact-header">Contact Me:</span>
                        <form class="contact-form" name="contactForm">
                            <fieldset>
                                <label class="label-sara" for="name">Name:</label>
                                <input id="name" type="text" required ng-model="contact.name" placeholder="Your Name"/>
                                <label class="label-sara" for="date">Date:</label>
                                <input id="date" type="text" required ng-pattern="/\d\d/\d\d/\d\d/" ng-model="contact.date" placeholder="Your Date (mm/dd/yy)"/>
                                <label class="label-sara" for="email">Email:</label>
                                <input id="email" type="text" required ng-model="contact.email" placeholder="Your Email"/>
                                <label class="label-sara" for="message">Message:</label>
                                <input id="message" type="text" required ng-model="contact.message" placeholder="Your Message"/>
                                <br />
                                <input id="city" type="text" class="input-small" ng-model="contact.city" placeholder="city...."/>

                                <label class="label-sara" for="imageUrl">Image: (Try out some two way Angular
                                                                         Binding, and see your
                                image below!)</label>
                                <input id="imageUrl" type="url" required class="input-xlarge" ng-model="contact.form.imageUrl" placeholder="a picture of you!"/>

                            </fieldset>
                            <br />
                            <img ng-src="{{contact.form.imageUrl}}" src=""/><!--TWO WAY BINDING WITH FIELD ABOVE-->
                            <br />
                            <br />
                            <button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid" ng-click="sendEmail(contact, contactForm)">Save</button>
                            <button type="button" class="btn btn-default" ng-click="cancelThis()">Cancel</button>
                        </form>
                    </div>

                </div>
            </div>
        </div><!--End ng-controller-->

        <div class="footer" ng-controller="FooterController">
            <div class="footer-inner">
                <!--<div class="map-widget">-->
                <!--<iframe-->
                <!--width="300"-->
                <!--height="225"-->
                <!--frameborder="0" style="border:0"-->
                <!--src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCCjqnHIkRf6b-H3Vn65QQEz7nWzDFAh3k-->
                <!--&q=Embarcadero+2,San+Francisco+CA" allowfullscreen>-->
                <!--</iframe>-->
                <!--</div>-->
                <ul class="social">
                    <li class="social-link" ng-repeat="link in footer.social">
                        <a href="{{link.url}}"><img ng-src="{{link.image}}"/></a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p>Website built with Angular JS by Sara Cassella. 2018</p>
            </div>
        </div>
    </div>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-sanitize.js"></script><!--This lets us use ng-bind-html and ng-bind-html-unsafe-->
    <script src="/js/app.js"></script>
    <script src="/js/controllers/contactController.js"></script>
    <script src="/js/controllers/footerController.js"></script>
    <script src="/js/filters/customFilter.js"></script>

</body>
</html>