<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body ng-cloak> <!--Hides this whole element until all of the angular has been parsed and processed OR if you keep your angular script tag in the head, angular will process sooner rather than later on page rendering lifecycle. -->
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="/contactPage.html">Contact</a></li>
                </ul>
            </div>
        </div>
        <style>input.ng-invalid.ng-dirty {background-color: pink}</style>
        <div ng-controller="ContactController">
            <div class="container">
                <h1>Contact Me!</h1>
                <hr />
                <form name="contactForm">
                    <fieldset>
                        <label for="name">Name:</label>
                        <input id="name" type="text" required ng-model="contact.name" placeholder="Your Name"/>
                        <label for="date">Date:</label>
                        <input id="date" type="text" required ng-pattern="/\d\d/\d\d/\d\d/" ng-model="contact.date" placeholder="Your Date (mm/dd/yy)"/>
                        <label for="email">Email:</label>
                        <input id="email" type="text" required ng-model="contact.email" placeholder="Your Email"/>
                        <label for="message">Message:</label>
                        <input id="message" type="text" required ng-model="contact.message" placeholder="Your Message"/>
                        <br />
                        <input id="city" type="text" class="input-small" ng-model="contact.city" placeholder="city...."/>

                        <label for="imageUrl">Image:</label>
                        <input id="imageUrl" type="url" required class="input-xlarge" ng-model="contact.imageUrl" placeholder="a picture of you!"/>

                    </fieldset>
                    <br />
                    <img ng-src="{{contact.imageUrl}}" src=""/><!--TWO WAY BINDING WITH FIELD ABOVE-->
                    <br />
                    <br />
                    <button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid" ng-click="sendEmail(contact, contactForm)">Save</button>
                    <button type="button" class="btn btn-default" ng-click="cancelThis()">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-sanitize.js"></script><!--This lets us use ng-bind-html and ng-bind-html-unsafe-->
    <script src="/js/app.js"></script>
    <script src="/js/controllers/contactController.js"></script>
    <script src="/js/filters/customFilter.js"></script>

</body>
</html>