<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <title>SC - FILM</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body ng-cloak>
    <div class="container-sara">
        <div class="navbar-sara" ng-controller="NavController">
            <div class="logo">{{logo}}</div>
            <ul class="nav-sara">
                <li ng-repeat="tab in nav"><a href="{{tab.href}}" target="{{tab.target}}">{{tab.name | uppercase}}</a></li>
            </ul>
        </div>

        <div ng-controller="FilmController" class="container-inner-sara">
            <div class="inner-page-header-wrapper">
                <div class="inner-header">
                    <img ng-src="{{film.imageUrl}}" alt="Film Page"/>
                </div>
                <div class="inner-header-info">
                    <h1 class="inner-title" ng-bind="film.title"></h1>
                </div>
            </div>

            <div class="body-wrapper-inner">
                <div class="inner-subheader">{{film.intro}}</div>
                <div class="video-wrapper">
                    <iframe width="960" height="577.5" src="https://www.youtube.com/embed/VP02NEehZlo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div><!--End ng-controller-->

        <div ng-controller="FooterController">
            <div class="footer-sara film-footer">
                <div class="footer-overlay">
                    <div class="copyright">
                        <p>{{footer.copyright}}</p>
                    </div>
                    <ul class="social">
                        <li class="social-link" ng-repeat="link in footer.social">
                            <a href="{{link.url}}" target="_blank"><img ng-src="{{link.image}}"/></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-sanitize.js"></script><!--This lets us use ng-bind-html and ng-bind-html-unsafe-->
    <script src="/js/app.js"></script>
    <script src="/js/controllers/navController.js"></script>
    <script src="/js/controllers/filmController.js"></script>
    <script src="/js/controllers/footerController.js"></script>
    <script src="/js/filters/customFilter.js"></script>

</body>
</html>