<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <title>Resume</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body ng-cloak> <!--Hides this whole element until all of the angular has been parsed and processed OR if you keep your angular script tag in the head, angular will process sooner rather than later on page rendering lifecycle. -->
    <div class="container-sara">
        <div class="navbar-sara">
            <div class="logo">SC</div>
            <ul class="nav-sara">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/resume.html">Resume</a></li>
                <li><a href="/adobe.html">Adobe</a></li>
                <li><a href="/userExperience.html">UX</a></li>
                <li><a href="/webWork.html">Web</a></li>
                <li><a href="/film.html">Film</a></li>
                <li><a href="https://github.com/scassella" target="_blank">Git</a></li>
                <li><a href="/contactPage.html">Contact</a></li>
            </ul>
        </div>
        <div ng-controller="ResumeController" class="container-inner-sara">
            <div class="inner-page-header-wrapper">
                <div class="inner-header">
                    <img ng-src="{{resume.imageUrl}}" alt="About Page"/>
                </div>
                <div class="inner-header-info">
                    <h1 class="inner-title" ng-bind="resume.title"></h1>
                </div>
            </div>

            <div class="body-wrapper-inner">
                <div class="resume">
                    <p><a href="{{resume.resumeUrl}}" download="saraCassellaResume">Download the pdf</a></p>
                    <div class="resume-body">
                        <div class="section-title">Education</div>
                        <ul class="resume-list education">
                            <li ng-repeat="school in resume.resume.education">
                                <span class="resume-title"><strong>{{school.schoolName}}</strong></span><span class="date">{{school.dates}}</span><br />
                                <span class="resumeSubHeader">{{school.degree}}</span><br />
                                <span class="resume-description">{{school.description}}</span>
                            </li>
                        </ul>
                        <div class="section-title">Experience</div>
                        <ul class="resume-list experience">
                            <li ng-repeat="job in resume.resume.experience">
                                <span class="resume-title"><strong>{{job.title}}</strong></span><span class="date">{{job.dates}}</span><br />
                                <span class="resumeSubHeader">{{job.company}}</span><br />
                                <span class="resume-description">{{job.description}}</span>
                            </li>
                        </ul>
                        <div class="section-title">Leadership</div>
                        <ul class="resume-list leadership">
                            <li ng-repeat="role in resume.resume.leadership">
                                <span class="resume-title"><strong>{{role.name}}</strong></span><br />
                                <span class="resumeSubHeader">{{role.description}}</span>
                            </li>
                        </ul>
                        <div class="section-title">Skills</div>
                        <ul class="resume-list skills">
                            <li ng-repeat="skill in resume.resume.skills">
                                <span class="resume-title"><strong>{{skill.name}}: </strong>{{skill.proficiency}}</span>
                            </li>
                        </ul>
                        <div class="section-title">Hobbies</div>
                        <ul class="resume-list hobbies">
                            <li ng-repeat="hobby in resume.resume.hobbies">
                                <span class="resume-title">{{hobby.name}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--End ng-controller-->

        <div ng-controller="FooterController">
            <div class="footer-sara resume-footer">
                <div class="footer-overlay">
                    <div class="copyright">
                        <p>Website built with Angular JS by Sara Cassella. 2018</p>
                    </div>
                    <ul class="social">
                        <li class="social-link" ng-repeat="link in footer.social">
                            <a href="{{link.url}}" target="_blank"><img ng-src="{{link.image}}"/></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-sanitize.js"></script><!--This lets us use ng-bind-html and ng-bind-html-unsafe-->
    <script src="/js/app.js"></script>
    <script src="/js/controllers/resumeController.js"></script>
    <script src="/js/controllers/footerController.js"></script>
    <script src="/js/filters/customFilter.js"></script>

</body>
</html>