<div class="container-inner-sara">
    <div class="header-wrapper">
        <div class="header">
            <img ng-src="{{main.imageUrl}}" alt="Home Image"/>
        </div>
        <div class="header-info">
            <h1 class="title" ng-bind="main.title"></h1>
            <h2 class="subheading" ng-bind="main.subheading"></h2>
            <h2 class="subsubheading" ng-bind="main.subsubheading"></h2>
        </div>
    </div>

    <div class="body-wrapper">
        <div class="mission-wrapper">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <a href="#/contact"><button class="action-button">CONTACT</button></a>
                <p class="mission-statement">Passionate about User Experience and Interface Design, with a love for building beautiful and precise web components.</p>
            </div>
        </div>
        <div class="gallery">
            <h2>PROJECTS</h2>
            <p class="asset-information">I am hardworking, and extremely interested in researching the best ways to present information to users in an exciting way.
            I want to work to empower users to achieve their goals easily and effectively so they always know they are on the right path.</p>
            <div class="gallery-content">
                <div class="project-item">
                    <h3>Solano Labs (From GE Digital)</h3>
                    <div style="height: 220px;"><img src="../img/photos/userflowsolano.png" alt="Solano Labs User Flow Diagram" style="width: 400px; max-height: 300px;"/></div>
                    <p>Empowering users to create CI/CD Pipelines in a feedback driven manner.</p>
                    <a href="#/solano"><button>VIEW PROJECT</button></a>
                </div>
                <div class="project-item">
                    <h3>Wise IO (From GE Digital)</h3>
                    <div style="height: 220px;"><img src="../img/photos/image001.png" alt="Wise IO Scatter Plot Chart" style="width: 400px;"/></div>
                    <p>Providing charts and integrated graphics to test Data Science Predictions on industrial asset data.</p>
                    <a href="#/wise"><button>VIEW PROJECT</button></a>
                </div>
                <div class="project-item">
                    <h3>GE Digital</h3>
                    <div style="height: 220px;"><img src="../img/photos/PredixConsole.png" alt="Predix IO Console UI" style="width: 400px;"/></div>
                    <p>info text blah blah blah</p>
                    <a href="#/predix"><button>VIEW PROJECT</button></a>
                </div>
                <div class="project-item">
                    <h3>Miller Center for Social Entrepreneurship</h3>
                    <div style="height: 220px;"><img src="../img/photos/MillerCenter.png" alt="Miller Center Annual Report" style="width: 400px;"/></div>
                    <p>Info text here blah blah vlah</p>
                    <a href="#/millercenter"><button>VIEW PROJECT</button></a>
                </div>
            </div>
            <h2>BuildOn</h2>
            <p style="max-width: 600px; text-align: center;">In October, 2018, 13 of my coworkers and I travelled to Malawi, Africa to build a school with the Organization BuildOn.
            To learn more about our trek, check out this medium article. LINK</p>
            <div class="gallery-content">
                <div class="project-item">
                    <!--<h3>BuildOn Volunteering</h3>-->
                    <img style="width: 400px;" src="../img/photos/grouppic.jpg" alt="Malawi Group Pic"/>
                    <button style="margin: 20px;">GET INVOLVED</button>
                </div>
            </div>
            <!--<div class="gallery-image" ng-repeat="img in main.gallery">-->
                <!--<img ng-src="{{img.imageUrl}}"/>-->
            <!--</div>-->
        </div>
    </div>
</div>