<div class="container-inner-sara" id="top">
    <div class="inner-page-header-wrapper">
        <div class="inner-header">
            <img ng-src="{{predix.imageUrl}}" alt="Film Page"/>
        </div>
        <div class="inner-header-info">
            <h1 class="inner-title" ng-bind="predix.title"></h1>
        </div>
    </div>

    <div class="body-wrapper">
        <div class="body-paragraph">{{predix.intro}}</div>
        <h2>Tools Used</h2>
        <div class="tools">
            <div ng-repeat="tool in predix.tools">
                <a href="{{tool.url}}" target="_blank"><img src="{{tool.img}}" alt="{{tool.alt}}"/></a>
            </div>
        </div>
    </div>
</div>