<div class="container-inner-sara" id="top">
    <div class="inner-page-header-wrapper">
        <div class="inner-header">
            <img ng-src="{{solano.imageUrl}}" alt="Film Page"/>
        </div>
        <div class="inner-header-info">
            <h1 class="inner-title" ng-bind="solano.title"></h1>
        </div>
    </div>

    <div class="body-wrapper">
        <div class="body-paragraph">{{solano.intro}}</div>
        <div class="project-section" ng-repeat="section in solano.sections">
            <h2>{{section.title}}</h2>
            <p class="body-paragraph">{{section.body}}</p>
            <div ng-if="solano.img">
                <img class="solano-project-img" src="{{section.img}}" alt="{{section.imgAlt}}" />
            </div>
        </div>
        <h2>Tools Used</h2>
        <div class="tools">
            <div ng-repeat="tool in solano.tools">
                <a href="{{tool.url}}" target="_blank"><img src="{{tool.img}}" alt="{{tool.alt}}"/></a>
            </div>
        </div>
        <p>and a lot of pen and paper...</p>
    </div>
</div>